
# Flask Application Env
FLASK_APP=app.py  # Path to your main Flask app
FLASK_ENV=development  # Set to "production" in production
SECRET_KEY=9$b*0qa43=ha_-)h_v6h-$&uxo49p4@x)=@i3)5j%nwc*pi)no  # Flask's secret key
DEBUG=True  # Set to False in production


# Request Headers for Flask
IP_HEADER=X-Forwarded-For
USER_AGENT_HEADER=X-Forwarded-User-Agent
SOURCE_HOST_HEADER=X-Forwarded-Host
AUTHENTICATION_HEADER=Authorization
